In [3]:
import pandas as pd

##Load CSV file

In [4]:
df=pd.read_csv('C:/Users/acer/Downloads/shopee/shopee.csv')

In [5]:
dff=df

#Data Cleaning Process

In [6]:
df.columns

Index(['price_ori', 'delivery', 'item_category_detail', 'specification',
       'title', 'w_date', 'link_ori', 'item_rating', 'seller_name',
       'idElastic', 'price_actual', 'sitename', 'idHash', 'total_rating', 'id',
       'total_sold', 'pict_link', 'favorite', 'timestamp', 'desc'],
      dtype='object')

#Renaming column

In [7]:

df.rename({'price_ori':'selling_price', 'delivery':'delivery_location', 'item_category_detail':'item_category',
       'title':'name', 'w_date':'order_date', 'link_ori':'product_link', 'item_rating':'rating',
              'pict_link':'product_link'},axis='columns', inplace=True)

Dropping column

In [8]:
df=df.drop(['idElastic','idHash','timestamp'],axis=1)

In [9]:
df=df.drop(['total_sold'],axis=1)

In [10]:
df['order_date']=pd.to_datetime(df['order_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20312 entries, 0 to 20311
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   selling_price      20112 non-null  float64
 1   delivery_location  6558 non-null   object
 2   item_category      20312 non-null  object
 3   specification      20301 non-null  object
 4   name               20312 non-null  object
 5   order_date         20312 non-null  datetime64[ns]
 6   product_link       20312 non-null  object
 7   rating             20301 non-null  object
 8   seller_name        20301 non-null  object
 9   price_actual       20297 non-null  float64
 10  sitename           20312 non-null  object
 11  total_rating       20301 non-null  object
 12  id                 20312 non-null  object
 13  product_link       20312 non-null  object
 14  favorite           19242 non-null  object
 15  desc               20312 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 2.5+ MB

Converting column to numeric and replace k with multiply by 1000

In [11]:
def convert_to_numeric(value):
    if isinstance(value, str):
        if 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value)
    else:
        return value


df['total_rating'] = df['total_rating'].apply(convert_to_numeric)

In [12]:
df.total_rating.unique()

array([1.79e+02, 1.70e+01, 8.10e+03, ..., 3.05e+04, 6.83e+04, 2.94e+04])

In [13]:
df['total_rating'] = df['total_rating'].apply(lambda x: '{:.2f}'.format(x))

Same to another column

In [14]:
def check_k(value):
    if isinstance(value, str) and 'k' in value:
        return 1000
    else:
        return 1

# Apply the function to create a new column
dff['new_column'] = dff['total_rating'].apply(lambda x: check_k(x))
dff.new_column.unique()

array([   1, 1000], dtype=int64)

In [15]:
dff['total_rating']=dff['total_rating'].str.replace('k','').astype(float)

In [16]:
dff['total_rating']=dff['total_rating']*dff['new_column']

In [17]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20312 entries, 0 to 20311
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   selling_price      20112 non-null  float64
 1   delivery_location  6558 non-null   object
 2   item_category      20312 non-null  object
 3   specification      20301 non-null  object
 4   name               20312 non-null  object
 5   order_date         20312 non-null  object
 6   product_link       20312 non-null  object
 7   rating             20301 non-null  object
 8   seller_name        20301 non-null  object
 9   idElastic          20312 non-null  object
 10  price_actual       20297 non-null  float64
 11  sitename           20312 non-null  object
 12  idHash             20312 non-null  object
 13  total_rating       20301 non-null  float64
 14  id                 20312 non-null  object
 15  total_sold         20301 non-null  object
 16  product_link       20312 non-null  object
 17  favorite           19242 non-null  object
 18  timestamp          20312 non-null  int64
 19  desc               20312 non-null  object
 20  new_column         20312 non-null  int64
dtypes: float64(3), int64(2), object(16)
memory usage: 3.3+ MB

In [18]:
df.favorite.unique()
import re

In [19]:
def extract_numeric(value):
    if isinstance(value, str):
        # Use regular expression to find the numerical part
        matches = re.findall(r'\d*\.?\d+', value)
        # Check if matches exist
        if matches:
            num_part = matches[0]
            # Convert 'k' to thousand
            if 'k' in value:
                return float(num_part) * 1000
            else:
                return float(num_part)
        else:
            return 0
    else:
        return value

# Apply the function to the column
df['favorite'] = df['favorite'].apply(extract_numeric)
df.favorite.unique()

array([1.28e+02, 1.90e+01, 2.15e+04, ..., 7.65e+02, 4.15e+04, 2.58e+04])

In [20]:
df['favorite'] = df['favorite'].apply(lambda x: '{:.2f}'.format(x))

In [21]:
df['favorite'] = df['favorite'].astype(float)
df['total_rating'] = df['total_rating'].astype(float)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20312 entries, 0 to 20311
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   selling_price      20112 non-null  float64
 1   delivery_location  6558 non-null   object
 2   item_category      20312 non-null  object
 3   specification      20301 non-null  object
 4   name               20312 non-null  object
 5   order_date         20312 non-null  datetime64[ns]
 6   product_link       20312 non-null  object
 7   rating             20301 non-null  object
 8   seller_name        20301 non-null  object
 9   price_actual       20297 non-null  float64
 10  sitename           20312 non-null  object
 11  total_rating       20301 non-null  float64
 12  id                 20312 non-null  object
 13  product_link       20312 non-null  object
 14  favorite           19242 non-null  float64
 15  desc               20312 non-null  object
dtypes: datetime64[ns](1), float64(4), object(11)
memory usage: 2.5+ MB

In [23]:
df

,selling_price,delivery_location,item_category,specification,name,order_date,product_link,rating,seller_name,price_actual,sitename,total_rating,id,product_link,favorite,desc
0,25.80,"KL City, Kuala Lumpur",Shopee | Women's Bags | Shoulder Bags | Should...,Product Specifications Category Shopee Women's...,1081 PU SLING BAG KULIT leather Casual Beg Tan...,2023-04-27,https://shopee.com.my/1081-PU-SLING-BAG-KULIT-...,4.9,qqfwholesale,12.90,shopee,179.0,88f051f0a2dcf0d29191e0175b828938,https://down-my.img.susercontent.com/file/my-1...,128.0,üéâ WELCOME To QQF WHOLESALE \r\nüòç ALL item read...
1,1.41,NaN,Shopee | Home Appliances | Sewing Machines | S...,Product Specifications Category Shopee Home Ap...,Stat Chinese Traditional Frog Buttons Knot Che...,2023-04-27,https://shopee.com.my/Stat-Chinese-Traditional...,5.0,stationery.my,0.75,shopee,17.0,472d22f58af3bb35cf28c6eed7088dc5,https://down-my.img.susercontent.com/file/4147...,19.0,Chinese Traditional Frog Buttons Knot Cheongsa...
2,8.50,"KL City, Kuala Lumpur",Shopee | Women's Bags | Handbags | Set Handbags,Product Specifications Category Shopee Women's...,N09 READY STOCK MYFOOYIN woman handbag set 2in...,2023-04-26,https://shopee.com.my/N09-READY-STOCK-MYFOOYIN...,4.9,fooyin88,8.50,shopee,8100.0,ec6ce64f4b77efb38b6392818959f181,https://down-my.img.susercontent.com/file/23da...,21500.0,READY STOCK\nMEASUREMENT:\nLONG 26CM X HEIGHT ...
3,8.70,NaN,Shopee | Women Clothes | Maternity Wear | Inne...,Product Specifications Category Shopee Women C...,üî•Shocking Saleüî•Cotton Comfort Nursing Bra Brea...,2023-04-26,https://shopee.com.my/%F0%9F%94%A5Shocking-Sal...,4.9,vivi2002,8.70,shopee,6500.0,ef4e0e17fdc7d0125d8609dcc395bc3d,https://down-my.img.susercontent.com/file/df47...,3400.0,PRODUCT DESCRIPTION\nMaterial:95%Cotton+5%Span...
4,3999.00,"KL City, Kuala Lumpur",Shopee | Cameras & Drones | DSLR Cameras | DSLRs,Product Specifications Category Shopee Cameras...,Canon EOS 70D 18-55mm IS STM Original+64gb+ext...,2023-04-26,https://shopee.com.my/Canon-EOS-70D-18-55mm-IS...,5.0,xpro.gadget,2739.00,shopee,10.0,568c2029fed7d22973ff96d0404a8ff8,https://down-my.img.susercontent.com/file/4d3a...,132.0,Canon 70D\nHighlights\nEF-S 18-55mm f/3.5-5.6 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20307,50.60,NaN,Shopee | Baby & Toys | Girls Fashion | Girl Shoes,Product Specifications Category Shopee Baby & ...,Elegant All-match Girls Leather Flat Shoes Pea...,2023-05-13,https://shopee.com.my/Elegant-All-match-Girls-...,4.9,amour.my,30.36,shopee,219.0,d8455ff553c9a2739d1bb6bd1f775f7c,https://down-my.img.susercontent.com/file/1b02...,1600.0,1¬†cm¬†=¬†0.3937¬†inch \r\n-----------------------...
20308,32.00,NaN,Shopee | Baby & Toys | Girls Fashion | Girl Dr...,Product Specifications Category Shopee Baby & ...,Baju Raya kids 2023(v1) | Shopee Malaysia,2023-05-13,https://shopee.com.my/Baju-Raya-kids-2023%28v1...,4.8,mazu9,32.00,shopee,215.0,50bf7d6c1a1a2c812de434ab593f619d,https://down-my.img.susercontent.com/file/my-1...,304.0,M G FASHION\n-stylist fashionable\n-comfortab...
20309,4.98,NaN,Shopee | Muslim Fashion | Kain Pasang & Songke...,Product Specifications Category Shopee Muslim ...,Kain como crepe heavy premium (harga untk 0.5m...,2023-05-13,https://shopee.com.my/Kain-como-crepe-heavy-pr...,4.7,nurlainafashionzone,2.49,shopee,152.0,540c0f2b0626585b648044b4d37c82f5,https://down-my.img.susercontent.com/file/sg-1...,98.0,Harga utk 0.5m@setengah meter / HARGA BUKAN U...
20310,0.30,NaN,Shopee | Baby & Toys | Others | Others,Product Specifications Category Shopee Baby & ...,Doorgift Bag Birthday Kids Drawstring Organize...,2023-05-13,https://shopee.com.my/Doorgift-Bag-Birthday-Ki...,4.9,pbs_empire,0.30,shopee,16.0,d6e4238bc9dc70b300d54abd1ad2eccf,https://down-my.img.susercontent.com/file/54f1...,27.0,Custom made Ready Stock in Malaysia\nUnicorn S...
20311,25.00,NaN,Shopee | Fashion Accessories | Eyewear | Eyegl...,Product Specifications Category Shopee Fashion...,Chris kacamata hitam anti silau | Shopee Malaysia,2023-05-13,https://shopee.com.my/Chris-kacamata-hitam-ant...,4.6,ilham02_02,25.00,shopee,89.0,d68e3099f5998e53d9d39893be6730f7,https://down-my.img.susercontent.com/file/sg-1...,61.0,@normal set bermaksud anda dapat set cermin ma...

In [24]:
import matplotlib.pyplot as plt

In [25]:
##Q Show how many products are crawled each date.
product_count_per_date = df.groupby('order_date').size().reset_index(name='product_count')
product_count_per_date_sorted=product_count_per_date.sort_values(by='product_count',ascending=False)
print(product_count_per_date_sorted.to_string(index=False))

order_date  product_count
2023-05-13           3727
2023-05-01           3646
2023-05-12           2483
2023-05-03            985
2023-05-11            915
2023-05-10            904
2023-05-05            852
2023-05-08            774
2023-05-06            747
2023-04-28            629
2023-05-07            583
2023-04-26            581
2023-05-09            571
2023-04-25            570
2023-04-30            511
2023-04-27            486
2023-05-02            466
2023-04-29            405
2023-04-24            276
2023-05-04            201

In [26]:
#Q Show number of listing product based on location. You can extract this from ‚Äúspecification‚Äù field.
#(use state name (Selangor, Johor, Melaka, etc) if it come from any state in Malaysia,
#use ‚ÄòOversea‚Äô as label if it come from outside Malaysia)

df['location'] = df['specification'].str.split().str[-1]
def main_location(location):
    malayasia_location=["Johor", "Kedah", "Kelantan", "Melaka", "Negeri Sembilan", "Pahang", "Perak", 
                          "Perlis", "Pulau Pinang", "Sabah", "Sarawak", "Selangor", "Terengganu", 
                          "Kuala Lumpur", "Labuan", "Putrajaya"]
    if location in malayasia_location:
        return 'Malaysia'
    else:
        return 'Overseas'

df['location']=df['location'].apply(main_location)
df.location.unique()

array(['Malaysia', 'Overseas'], dtype=object)

In [27]:
listing_count_per_location = df.groupby('location').size().reset_index(name='listing_count').sort_values(by='listing_count',ascending=False)
print(listing_count_per_location.to_string(index=False))

location  listing_count
Malaysia          12340
Overseas           7972

In [28]:
#Q item_category detail may have this format: ‚ÄúShopee | Women's Clothing | Outerwear |
#Coats & Jackets‚Äù. We can split it into:
#Main category : Women‚Äôs Clothing
#Subcategory 1 : Outerwear
#Subcategory 2 : Coats & Jackets
# Split the category detail into main category, subcategory 1, and subcategory 2
split_categories = df['item_category'].str.split('|', expand=True)

# Assign the split elements to the new columns
df['main_category'] = split_categories[1].str.strip()
df['subcategory_1'] = split_categories[2].str.strip()
df['subcategory_2'] = split_categories[3].str.strip()
df[['item_category','main_category','subcategory_1','subcategory_2']]

,item_category,main_category,subcategory_1,subcategory_2
0,Shopee | Women's Bags | Shoulder Bags | Should...,Women's Bags,Shoulder Bags,Shoulder Bags
1,Shopee | Home Appliances | Sewing Machines | S...,Home Appliances,Sewing Machines,Sewing Machines and Accessories
2,Shopee | Women's Bags | Handbags | Set Handbags,Women's Bags,Handbags,Set Handbags
3,Shopee | Women Clothes | Maternity Wear | Inne...,Women Clothes,Maternity Wear,Innerwear
4,Shopee | Cameras & Drones | DSLR Cameras | DSLRs,Cameras & Drones,DSLR Cameras,DSLRs
...,...,...,...,...
20307,Shopee | Baby & Toys | Girls Fashion | Girl Shoes,Baby & Toys,Girls Fashion,Girl Shoes
20308,Shopee | Baby & Toys | Girls Fashion | Girl Dr...,Baby & Toys,Girls Fashion,Girl Dresses
20309,Shopee | Muslim Fashion | Kain Pasang & Songke...,Muslim Fashion,Kain Pasang & Songket,Kain Pasang Cotton
20310,Shopee | Baby & Toys | Others | Others,Baby & Toys,Others,Others
20311,Shopee | Fashion Accessories | Eyewear | Eyegl...,Fashion Accessories,Eyewear,Eyeglasses

In [29]:
#Q. Show number of listing products based on main category.

number_of_listing_products=df.groupby('main_category').size().reset_index(name='product_count').sort_values(by='product_count',ascending=False)
print(number_of_listing_products.to_string(index=False))

         main_category  product_count
       Health & Beauty           2464
           Men Clothes           2458
         Women Clothes           2232
  Mobile & Accessories           1887
           Baby & Toys           1496
         Home & Living           1316
      Groceries & Pets           1130
       Home Appliances            948
            Automotive            822
      Sports & Outdoor            788
          Women's Bags            623
               Watches            533
  Men's Bags & Wallets            492
      Cameras & Drones            452
           Women Shoes            444
        Muslim Fashion            419
   Fashion Accessories            410
Computer & Accessories            391
Games, Books & Hobbies            345
             Men Shoes            209
      Travel & Luggage            154
     Gaming & Consoles            148
    Tickets & Vouchers            106
                Others             45

In [30]:
#Q Get the top 3 main categories with the most products
top_main_categories = df['main_category'].value_counts().nlargest(3).index

# Get the top 5 subcategory 1 for each top main category
top_subcategories = pd.DataFrame(columns=['main_category', 'subcategory_1'])
for main_category in top_main_categories:
    filtered_df = df[df['main_category'] == main_category]
    top_5_subcategories = filtered_df['subcategory_1'].value_counts().nlargest(5).reset_index()
    top_5_subcategories.columns = ['subcategory_1', 'count']
    top_5_subcategories['main_category'] = main_category
    top_subcategories = pd.concat([top_subcategories, top_5_subcategories])

print(top_subcategories)

     main_category       subcategory_1  count
0  Health & Beauty   Personal Pleasure  187.0
1  Health & Beauty           Foot Care  156.0
2  Health & Beauty         Eye Make Up  155.0
3  Health & Beauty            Sun Care  155.0
4  Health & Beauty        OTC Medicine  144.0
0      Men Clothes                Sets  328.0
1      Men Clothes               Suits  272.0
2      Men Clothes              Others  192.0
3      Men Clothes           Innerwear  188.0
4      Men Clothes               Pants  188.0
0    Women Clothes  Sports & Beachwear  221.0
1    Women Clothes                Tops  213.0
2    Women Clothes           Outerwear  213.0
3    Women Clothes              Skirts  185.0
4    Women Clothes              Others  184.0

In [31]:
price_range_per_category = df.groupby('main_category')['price_actual'].agg(['min', 'max'])
pd.options.display.float_format = '{:.2f}'.format
print(price_range_per_category)

                        min          max
main_category
Automotive             0.00    205500.00
Baby & Toys            0.00     99999.00
Cameras & Drones       0.10     42259.00
Computer & Accessories 0.10     12349.00
Fashion Accessories    0.10      1000.00
Games, Books & Hobbies 0.10       999.00
Gaming & Consoles      0.10       949.00
Groceries & Pets       0.08      9999.00
Health & Beauty        0.00     10000.00
Home & Living          0.06       999.00
Home Appliances        0.10 999999999.00
Men Clothes            0.00      1849.00
Men Shoes              0.10       730.34
Men's Bags & Wallets   0.00      2174.00
Mobile & Accessories   0.08      9999.00
Muslim Fashion         0.29       278.00
Others                 0.10       188.00
Sports & Outdoor       0.10      1590.00
Tickets & Vouchers     0.00      9999.00
Travel & Luggage       0.10    137171.40
Watches                0.35     13810.42
Women Clothes          0.00       429.00
Women Shoes            0.20       499.00
Women's Bags           0.00      9999.99

In [32]:

#Q Sort DataFrame by 'price' within each main category group
sorted_df = df.sort_values(by=['main_category', 'price_actual'])

# Get lowest and highest price for each main category
lowest_price_per_category = sorted_df.groupby('main_category').first()['price_actual']
highest_price_per_category = sorted_df.groupby('main_category').last()['price_actual']

# Combine into a DataFrame
price_range_per_category = pd.DataFrame({'lowest_price': lowest_price_per_category, 'highest_price': highest_price_per_category})

print(price_range_per_category)

                        lowest_price  highest_price
main_category
Automotive                      0.00      205500.00
Baby & Toys                     0.00       99999.00
Cameras & Drones                0.10       42259.00
Computer & Accessories          0.10       12349.00
Fashion Accessories             0.10        1000.00
Games, Books & Hobbies          0.10         999.00
Gaming & Consoles               0.10         949.00
Groceries & Pets                0.08        9999.00
Health & Beauty                 0.00       10000.00
Home & Living                   0.06         999.00
Home Appliances                 0.10   999999999.00
Men Clothes                     0.00        1849.00
Men Shoes                       0.10         730.34
Men's Bags & Wallets            0.00        2174.00
Mobile & Accessories            0.08        9999.00
Muslim Fashion                  0.29         278.00
Others                          0.10         188.00
Sports & Outdoor                0.10        1590.00
Tickets & Vouchers              0.00        9999.00
Travel & Luggage                0.10      137171.40
Watches                         0.35       13810.42
Women Clothes                   0.00         429.00
Women Shoes                     0.20         499.00
Women's Bags                    0.00        9999.99

In [33]:
#Q Calculate revenue for each main category
revenue_per_category = df.groupby('main_category')['selling_price'].sum()

# Sort the revenue in descending order
revenue_per_category_sorted = revenue_per_category.sort_values(ascending=False)

print(revenue_per_category_sorted)

main_category
Home Appliances          2001554399.78
Automotive                  3613889.73
Watches                      710875.80
Mobile & Accessories         614001.69
Cameras & Drones             517080.10
Travel & Luggage             433249.42
Baby & Toys                  333809.15
Men Clothes                  205752.36
Computer & Accessories       175657.77
Health & Beauty              158713.00
Sports & Outdoor             139734.54
Women's Bags                 134925.37
Men's Bags & Wallets         114715.18
Women Clothes                103649.49
Groceries & Pets              97365.32
Home & Living                 70335.26
Tickets & Vouchers            38307.61
Women Shoes                   32448.17
Muslim Fashion                30771.29
Fashion Accessories           15156.28
Men Shoes                     11905.76
Games, Books & Hobbies        11785.45
Gaming & Consoles              9001.56
Others                         1363.21
Name: selling_price, dtype: float64

In [35]:
df.to_csv('shopee_cleaned_data.csv',index=False)